body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    justify-content: top; /* eje vertical */
    align-items: center;     /* eje horizontal */

    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
}

.guitarra {

    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;

    border: 1px solid rgb(0,0,0);
    border-radius: 25px;

    width: 80%;
    height: 70%;

}

.clavijero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    gap: 10px;           
    padding: 10px;

    width: 90%;
    height: 90%;
}

.button {
    width: 100%;
    height: 20%;

    border-radius: 25px;

    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    cursor: pointer;
    box-sizing: border-box;
}

.label{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}